<div class = "form-inline" [formGroup]='parentForm'>
  <label class = "text-input-label form-inline" for='{{inputName}}' >{{inputLabel}}</label>
  <div class="input-textbox" [ngClass]="{'percent-textbox': inputOptions.type == 'percent'}">
    <span [hidden] = "inputOptions.type != 'currency'">$</span>
    <input type="text"
      class = 'calc-input-box'
      [ngClass]='getInputClasses()'
      id='{{inputName}}'
      name='{{inputName}}'
      [cleave]="{numeral: true}"
      placeholder = '{{defaultText}}'
      [formControlName]='inputName'>
    <span [hidden] = "inputOptions.type != 'percent'">%</span>
  </div>
</div>
