<div class="container sfhcalculator-container">
  <h1 id="sfh-title">Residential Evaluator</h1>
  <form [formGroup]="parentForm">
    <div class = "form-row input-grid collapse show" id="collapseInputs">
      <div class="custom-control custom-checkbox input-options-checkbox form-col-12">
        <input type="checkbox" class="custom-control-input" id="inputOptionCheckbox" name="inputOptionCheckbox"
          [(ngModel)]="optionsChecked" [ngModelOptions]="{standalone: true}">
        <label class="custom-control-label" for="inputOptionCheckbox">Show Advanced Options (with default values)</label>
      </div>
      <div class = "form-row">
        <div class="col-md-4">
          <div>
            <h4>Purchase Information</h4>
            <app-calc-input [parentForm]= parentForm [inputOptions]='currencyInputOptions' [invalidSubmit]='invalidSubmit'
              [inputName] = "'purchasePrice'" [inputLabel] ="'Purchase Price: '"></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='percentInputOptions' [invalidSubmit]='invalidSubmit'
              [inputName] = "'downPayment'" [inputLabel] ="'Down Payment: '"></app-calc-input>
            <small class = "error-message" [hidden]='!invalidSubmit || downPaymentValid()'><strong>** {{errorMessage}}</strong></small>
            <app-calc-input [parentForm]= parentForm [inputOptions]='currencyInputOptions' [hidden] = "!optionsChecked"
              [inputName] = "'closingCosts'" [inputLabel] ="'Closing Costs: '" [defaultText]="'Use Estimate'" ></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='percentInputOptions' [invalidSubmit]='invalidSubmit'
              [inputName] = "'interestRate'" [inputLabel] ="'Interest Rate: '"></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='currencyInputOptions' [hidden] = "!optionsChecked"
              [inputName] = "'afterRepairedValue'" [inputLabel] ="'After Repaired Value: '" [defaultText]="'Use Estimate'"></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='currencyInputOptions' [hidden] = "!optionsChecked"
              [inputName] = "'rehabBudget'" [inputLabel] ="'Rehab Budget: '"></app-calc-input>
          </div>
          <div [hidden] = "!optionsChecked">
            <h4>Economic Information</h4>
            <app-calc-input [parentForm]= parentForm [inputOptions]='percentInputOptions'
              [inputName] = "'rentInflation'" [inputLabel] ="'Rent Inflation: '"></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='percentInputOptions'
              [inputName] = "'inflation'" [inputLabel] ="'Inflation: '"></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='percentInputOptions'
              [inputName] = "'appreciation'" [inputLabel] ="'Appreciation: '"></app-calc-input>
          </div>
        </div>
        <div class="col-md-4">
          <div >
            <h4>Expenses</h4>
            <app-calc-input [parentForm]= parentForm [inputOptions]='currencyInputOptions'
              [inputName] = "'hoaFees'" [inputLabel] ="'Annual HOA/Condo Fees: '"></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='currencyInputOptions' [invalidSubmit]='invalidSubmit'
              [inputName] = "'annualTaxes'" [inputLabel] ="'Annual Taxes: '"></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='currencyInputOptions' [invalidSubmit]='invalidSubmit'
              [inputName] = "'annualInsurance'" [inputLabel] ="'Annual Insurance Premiums: '"></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='percentInputOptions' [hidden] = "!optionsChecked"
              [inputName] = "'managementFees'" [inputLabel] ="'Management Fees: '"></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='percentInputOptions' [hidden] = "!optionsChecked"
              [inputName] = "'vacancyRate'" [inputLabel] ="'Vacancy Rate: '"></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='percentInputOptions' [hidden] = "!optionsChecked"
              [inputName] = "'maintenanceRate'" [inputLabel] ="'Maintenance Rate (% of Purchase Price): '"></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='percentInputOptions' [hidden] = "!optionsChecked"
              [inputName] = "'sellingFees'" [inputLabel] ="'Selling Fees: '"></app-calc-input>
          </div>
        </div>
        <div class="form col-md-4">
          <div class = "form-group">
            <h4>Other Information</h4>
            <app-calc-input [parentForm]= parentForm [inputOptions]='currencyInputOptions' [invalidSubmit]='invalidSubmit'
              [inputName] = "'monthlyGrossRent'" [inputLabel] ="'Monthly Rent: '"></app-calc-input>
            <app-calc-input [parentForm]= parentForm [inputOptions]='currencyInputOptions'
              [inputName] = "'otherMonthlyIncome'" [inputLabel] ="'Other Monthly Income: '"></app-calc-input>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-submit-sfh-rental col-md-6">
      <button type="submit"
        (click)=onSubmit()
        class="btn btn-info btn-lg"
        [attr.data-toggle]="!invalidSubmit ? 'collapse' : null" data-target=".collapse">
        <h1>{{inputsCollapsed ? "Show Inputs": "Submit"}}</h1>
      </button>
    </div>
    <div class="btn-secondary-sfh-rental col-md-6" [hidden]="inputsCollapsed">
      <button type="submit"
        (click)=clearForm()
        class="btn btn-secondary btn">
        <h5>Clear</h5>
      </button>
      <button type="submit"
        (click)=getPreviousSubmittedProperty()
        class="btn btn-secondary btn">
        <h5>Load Previous</h5>
      </button>
    </div>
  </form>
  <app-financials-visualizer [vizOptions] = financialVisualizerOptions *ngIf = "inputsCollapsed" [property]=property></app-financials-visualizer>
</div>
