#buyrent-title{
  text-align: center;
}

.error-message{
  color: red;
}

.buyrentcalculator-container h4{
  color: rgb(70, 70, 70);
  text-align: center;
}

.input-grid{
  justify-content: center;
}

.input-grid .form-inline{
  margin-bottom: 1px;
}

.btn-submit-buyrent-rental{
  text-align: right;
  display: inline-block;
  padding-bottom: 1rem;
}

.btn-secondary-buyrent-rental{
  text-align: right;
  display: inline-block;
  padding-bottom: 1rem;
}

.btn-secondary-buyrent-rental button{
  margin-right: .5rem;
}

.input-options-checkbox{
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  color: rgb(70, 70, 70);
}
