<div class="container commercialcalculator-container">
  <h1 id="commercial-title">Commercial Evaluator</h1>
  <form #form="ngForm">
    <div class = "form-row input-grid collapse show" id="collapseInputs">
      <div class="custom-control custom-checkbox input-options-checkbox form-col-12">
        <input type="checkbox" class="custom-control-input" id="inputOptionCheckbox" name="inputOptionCheckbox"
          [(ngModel)]="optionsChecked">
        <label class="custom-control-label" for="inputOptionCheckbox">Show Advanced Options (with default values)</label>
      </div>
      <div class = "form-row">
        <div class="form col-md-4">
          <div class = "form-group">
            <h4>Purchase Information</h4>
            <div class = "form-inline">
              <label class = "text-input-label form-inline" for="purchasePrice">Purchase Price: </label>
              <div class="input-textbox">
                <span >$</span>
                <input type="text" class="form-control commercial-input-box" id="purchasePrice" name="purchasePrice"
                  [cleave]="{numeral: true}" [(ngModel)]="purchasePrice" [ngClass]="{'invalid-submit': invalidSubmit}" required>
              </div>
            </div>
            <div class = "form-inline">
              <label class = "text-input-label form-inline" for="downPayment">Downpayment:</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="downPayment" name="downPayment"
                   [(ngModel)]="downPayment" min = 1 max = 100 [ngClass]="{'invalid-submit': invalidSubmit}" required>
                  <span >%</span>
              </div>
            </div>
            <small class = "error-message" [hidden]='!invalidSubmit || downPaymentValid()'><strong>** {{errorMessage}}</strong></small>
            <div class = "form-inline">
              <label class = "text-input-label form-inline" for="interestRate">Mortgage Interest Rate:</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="interestRate" name="interestRate"
                  [(ngModel)]="interestRate" min = 1 max = 100 [ngClass]="{'invalid-submit': invalidSubmit}" required>
                  <span >%</span>
              </div>
            </div>
            <div class = "form-inline" [hidden] = "!optionsChecked">
              <label class = "text-input-label form-inline" for="afterRepairedValue">After Repaired Value:</label>
              <div class="input-textbox">
                <span >$</span>
                <input type="text" class="form-control commercial-input-box" id="afterRepairedValue" name="afterRepairedValue"
                [cleave]="{numeral: true}" [(ngModel)]="afterRepairedValue" placeholder = "{{getAfterRepairedValue()}}">
              </div>
            </div>
            <div class = "form-inline" [hidden] = "!optionsChecked">
              <label class = "text-input-label form-inline" for="rehabBudget">Rehab Budget:</label>
              <div class="input-textbox">
                <span >$</span>
                <input type="text" class="form-control commercial-input-box" id="rehabBudget" name="rehabBudget"
                [cleave]="{numeral: true}" [(ngModel)]="rehabBudget">
              </div>
            </div>
            <div class = "form-inline" [hidden] = "!optionsChecked">
              <label class = "text-input-label form-inline" for="closingCosts">Closing Costs: </label>
              <div class="input-textbox">
                <span >$</span>
                <input type="text" class="form-control commercial-input-box" id="closingCosts" name="closingCosts"
                [cleave]="{numeral: true}" [(ngModel)]="closingCosts" placeholder = "{{getClosingCosts()}}">
              </div>
            </div>
          </div>
          <div class = "form-group" [hidden] = "!optionsChecked" >
            <h4>Other Information</h4>
            <div class = "form-inline" [hidden] = "!optionsChecked">
              <label class = "text-input-label form-inline" for="targetCapRate">Target Selling Cap Rate:</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="targetCapRate" name="targetCapRate"
                [(ngModel)]="targetCapRate" min = 0 max = 999>
                <span >%</span>
              </div>
            </div>
            <div class = "form-inline" >
              <label class = "text-input-label form-inline" for="inflation">Annual Inflation:</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="inflation" name="inflation"
                  [(ngModel)]="inflation" min = 0 max = 999>
                <span >%</span>
              </div>
            </div>
            <div class = "form-inline">
              <label class = "text-input-label form-inline" for="appreciation">Annual Appreciation:</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="appreciation" name="appreciation"
                  [(ngModel)]="appreciation" min = 0 max = 999>
                <span >%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form col-md-4">
          <div class = "form-group">
            <h4>Expenses</h4>
            <div class = "form-inline">
              <label class = "text-input-label form-inline" for="annualTaxes">Annual Taxes:</label>
              <div class="input-textbox">
                <span >$</span>
                <input type="text" class="form-control commercial-input-box" id="annualTaxes" name="annualTaxes"
                  [cleave]="{numeral: true}" [(ngModel)]="annualTaxes" [ngClass]="{'invalid-submit': invalidSubmit}" required>
              </div>
            </div>
            <div class = "form-inline">
              <label class = "text-input-label form-inline" for="annualInsurance">Annual Insurance Premiums:</label>
              <div class="input-textbox">
                <span >$</span>
                <input type="text" class="form-control commercial-input-box" id="annualInsurance" name="annualInsurance"
                  [cleave]="{numeral: true}" [(ngModel)]="annualInsurance" [ngClass]="{'invalid-submit': invalidSubmit}" required>
              </div>
            </div>
            <div class = "form-inline" [hidden] = "!optionsChecked">
              <label class = "text-input-label form-inline" for="reLeasingCost">Re-Leasing Costs:</label>
              <div class="input-textbox">
                <span >$</span>
                <input type="text" class="form-control commercial-input-box" id="reLeasingCost" name="reLeasingCost"
                  [cleave]="{numeral: true}" [(ngModel)]="reLeasingCost">
              </div>
            </div>
            <div class = "form-inline" [hidden] = "!optionsChecked">
              <label class = "text-input-label form-inline" for="reLeasingFreq">Re-Leasing Frequency (years):</label>
              <div class="input-textbox">
                <span >$</span>
                <input type="text" class="form-control commercial-input-box" id="reLeasingFreq" name="reLeasingFreq"
                  [cleave]="{numeral: true}" [(ngModel)]="reLeasingFreq">
              </div>
            </div>
            <div class = "form-inline" [hidden] = "!optionsChecked">
              <label class = "text-input-label form-inline" for="maintenanceRate">Maintenance Rate (% of Purchase Price):</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="maintenanceRate" name="maintenanceRate"
                  [(ngModel)]="maintenanceRate" min = 0 max = 999>
                <span >%</span>
              </div>
            </div>
            <div class = "form-inline" [hidden] = "!optionsChecked">
              <label class = "text-input-label form-inline" for="vacancyRate">Vacancy Rate:</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="vacancyRate" name="vacancyRate"
                  [(ngModel)]="vacancyRate" min = 0 max = 100>
                <span >%</span>
              </div>
            </div>
            <div class = "form-inline" [hidden] = "!optionsChecked">
              <label class = "text-input-label form-inline" for="managementFees">Management Fee Rate:</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="managementFees" name="managementFees"
                  [(ngModel)]="managementFees" min = 0 max = 100>
                <span >%</span>
              </div>
            </div>
            <div class = "form-inline" [hidden] = "!optionsChecked">
              <label class = "text-input-label form-inline" for="sellingFees">Selling Fees:</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="sellingFees" name="sellingFees"
                [(ngModel)]="sellingFees" min = 0 max = 100>
                <span >%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form col-md-4">
          <div class = "form-group">
            <h4>Income Information</h4>
            <div class = "form-inline">
              <label class = "text-input-label form-inline" for="monthlyGrossRent">Total Expected Monthly Rent:</label>
              <div class="input-textbox">
                <span >$</span>
                <input type="text" class="form-control commercial-input-box" id="monthlyGrossRent" name="monthlyGrossRent"
                [cleave]="{numeral: true}" [(ngModel)]="monthlyGrossRent" [ngClass]="{'invalid-submit': invalidSubmit}" required>
              </div>
            </div>
            <div class = "form-inline" [hidden] = "!optionsChecked">
              <label class = "text-input-label form-inline" for="otherMonthlyIncome">Other Monthly Income:</label>
              <div class="input-textbox">
                <span >$</span>
                <input type="text" class="form-control commercial-input-box" id="otherMonthlyIncome" name="otherMonthlyIncome"
                  [cleave]="{numeral: true}" [(ngModel)]="otherMonthlyIncome">
              </div>
            </div>
            <div class = "form-inline" [hidden] = "!optionsChecked">
              <label class = "text-input-label form-inline" for="rentInflation">Rent Inflation:</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="rentInflation" name="rentInflation"
                [(ngModel)]="rentInflation" min = 0 max = 999>
                <span >%</span>
              </div>
            </div>
          </div>
          <div class = "form-group" [hidden] = "!optionsChecked">
            <h4>Loan Information</h4>
            <div class = "form-inline" >
              <label class = "text-input-label form-inline" for="initFixedPeriod">Initial Fixed Period (years):</label>
              <div class="input-textbox">
                <input type="text" class="form-control commercial-input-box" id="initFixedPeriod" name="initFixedPeriod"
                  [cleave]="{numeral: true}" [(ngModel)]="initFixedPeriod">
              </div>
            </div>
            <div class = "form-inline">
              <label class = "text-input-label form-inline" for="readjPeriod">Re-adjustment Period (years):</label>
              <div class="input-textbox">
                <input type="text" class="form-control commercial-input-box" id="readjPeriod" name="readjPeriod"
                  [cleave]="{numeral: true}" [(ngModel)]="readjPeriod">
              </div>
            </div>
            <div class = "form-inline">
              <label class = "text-input-label form-inline" for="amortPeriod">Amortization Period (years):</label>
              <div class="input-textbox">
                <input type="text" class="form-control commercial-input-box" id="amortPeriod" name="amortPeriod"
                [cleave]="{numeral: true}" [(ngModel)]="amortPeriod" [ngClass]="{'invalid-submit': invalidSubmit}">
              </div>
            </div>
            <div class = "form-inline">
              <label class = "text-input-label form-inline" for="initIntJump">Initial Interest Rate Jump:</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="initIntJump" name="initIntJump"
                [(ngModel)]="initIntJump" min = 0 max = 999>
                <span >%</span>
              </div>
            </div>
            <div class = "form-inline">
              <label class = "text-input-label form-inline" for="otherIntJumps">Subsequent Interest Rate Jumps:</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="otherIntJumps" name="otherIntJumps"
                [(ngModel)]="otherIntJumps" min = 0 max = 999>
                <span >%</span>
              </div>
            </div>
            <div class = "form-inline">
              <label class = "text-input-label form-inline" for="maxIntRate">Capped Interest Rate Rise:</label>
              <div class="input-textbox percent-textbox">
                <input type="number" class="form-control commercial-input-box input-percent" id="maxIntRate" name="maxIntRate"
                [(ngModel)]="maxIntRate" min = 0 max = 999>
                <span >%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-submit-commercial-rental col-md-6">
      <button type="submit"
        (click)=onSubmit()
        class="btn btn-info btn-lg"
        [attr.data-toggle]="!invalidSubmit ? 'collapse' : null" data-target=".collapse">
        <h1>{{inputsCollapsed ? "Show Inputs": "Submit"}}</h1>
      </button>
    </div>
    <div class="btn-secondary-commercial-rental col-md-6" [hidden]="inputsCollapsed">
      <button type="submit"
        (click)=clearForm()
        class="btn btn-secondary btn">
        <h5>Clear</h5>
      </button>
      <button type="submit"
        (click)=getPreviousSubmittedProperty()
        class="btn btn-secondary btn">
        <h5>Load Previous</h5>
      </button>
    </div>
  </form>
  <app-financials-visualizer #commercialVisualizer [vizOptions] = financialVisualizerOptions *ngIf = "inputsCollapsed" [property]=rentalProperty></app-financials-visualizer>
</div>
