/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
}

body{
  background-color: rgba(0,0,0,0);
  height: 100%;
}

body::before{
  background-image: url("./assets/buildings.jpg");
  background-size: cover;
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  opacity: 0.2;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
